.box{
    border: 2px solid green;
    font-size: 2em;
}

#container{
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows:2fr 1fr 1fr 1fr;
    border: 2px solid red;
}