.box{
    border: 2px solid darkcyan;
    width: 100px;
    height: 100px;
    /* float: left; */
}
#container{
    width: 500px;
    height: 500px;
    border: 3px solid red;
    display: flex;
    flex-direction: column-reverse ;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    /* align-content: flex-end; */
    margin: 0 auto;
}